{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
     <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-lg text-uppercase my-0">Supported Currencies</h2>
        <hr class="divider">

        <div class="table-responsive col-lg-8">
            <table class="table table-hover ">
              <tr>
                <th>Base Currency</th>
                <th>Target Currency</th>
                <th>Price</th>
              </tr>
              {% for i in currency %}
              <tr>
                <td>{{i.getBaseName}}</td> 
                <td>{{ i.getTargetName }}</td>
                <td>{{i.getTargetPrice}}</td>
                <td>
                    <button class="redirectToUpdate btn btn-sm btn-primary" value={{i.getId}} >
                        <a href={{ path("edit", { 'id': i.getId }) }} style="color:white;">EDIT</a>
                    </button>
                </td>
                <td><button class="deleteBtn btn btn-sm btn-danger" value={{i.getId}}>DELETE</button></td>
              </tr>
              {% endfor %}
            </table>
        </div>

      </div>

    </div>
    <div id="wrapper">
        
    </div>
{% endblock %}
