{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
     <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">Create your pair of Currencies</h2>
        <hr class="divider">

        <form action={{path("update")}} method="post" data-toggle="validator">
          <div class="row">
            <div class="form-group col-lg-4">
              <input type="text" name="currencyId" value="{{currency.getId}}" style="display:none;">
              <label class="text-heading text-primary">Your Base Currency now is: {{currency.getBaseName}}</label>
              <input type="text" placeholder="Change it to.." class="form-control inputCur" name="baseCurrency" pattern="[a-zA-Z]{3}" required>
              <p class="error1 text-danger"> </p>
            </div>
            <div class="form-group col-lg-4">
              <label class="text-heading text-primary">Your Target Currency now is: {{currency.getTargetName}}</label>
              <input type="text" placeholder="Change it to.." class="form-control inputCur" name="targetCurrency" required>
              <p class="error1 text-danger"> </p>
            </div>
            <div class="form-group col-lg-4">
              <label class="text-heading text-primary">Your Pair Exchange rate now is: {{currency.getTargetPrice}}</label>
              <input type="text" placeholder="Change it to eg 123.1212.." class="form-control inputRate" name="targetPair" required>
              <p class="error2 text-danger"> </p>
            </div>

            <div class="clearfix"></div>
            <div class="form-group col-lg-12">
                <button class="btn btn-lg btn-info" type="submit">UPDATE PAIR</button>
            </div>
          </div>
        </form>

      </div>

    </div>
{% endblock %}